@import './node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.testimonial-card {
  height: 332px;
}

.testimonial-card:hover {
  background: hsl(228, 18%, 17%);
}

.darkish {
  background: hsl(228, 18%, 17%);
}
